
/*-------------------------
	Simple reset
--------------------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	font: normal 100 % Cambria, Georgia, serif;
	background: url(../images/gradient.png) no-repeat 50% 50%,
	url(../images/main-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 99.8vh;
	position: relative;
	box-sizing: border-box;
	// border: 1px solid #fff;
}
.top-block, .bottom-block {
display: flex;
justify-content: space-around;
height: 7%;
width: 100%;
// border: 1px solid red;
}

.city {
	color: #fff;
	font-size: 2vw;
	cursor: pointer;
}

.city:hover {
	color: #98d0eb;
}

.middle-block {
	display: flex;
	justify-content: flex-start;
	height: 86%;
	width: 100%;
	// border: 1px solid black;
}

.left-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// border: 1px solid red;
	height: 100%;
	width: 30%;
}

@media screen and (max-width:638px){
	.left-block {
		width: 40%;
	}
}

.left-block .days {
	// display: flex;
	height: 12%;
	// border: 1px dashed green;
	padding: 10px;
}

.days img, .days .temp, .days .day-name, .days .date {
	display: inline-block;
	vertical-align: middle;
	// border: 1px dashed black;
}

.days .temp {
	// border: 1px dashed green;
	font-size: 2.5vh;
	vertical-align: middle;
}

.days .temp .temp-min, .days .temp .temp-max {
	color: #98d0eb;
}

.days .day-name {
	background: url(../images/el-1.png) no-repeat center center;
	background-size: cover;
	color: #4e94cf;
	font-size: 5vh;
	padding: 1vh;
	margin-left: 1.5vw;
	text-transform: capitalize;
}

.days .date span {
	font-size: 6vh;
	// border: 1px solid yellow;
	font-family: 'BetinaScriptC', arial;
	color:#fff;
	text-decoration: underline;
	cursor: pointer;
}
.days:hover .date {
  transform: scale(1.4, 1.25) translateX(30px);

}
.main-block {
	width: 67%;
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// border: 1px solid green;
}
.main-block .main-info {
	// display: none;
	// display: flex;
	// margin: auto;
	// justify-content: center;
	// border: 1px solid green;
}

.main-block .main-info > div, .main-block .main-info #main-img {
	display: inline-block;
	vertical-align: middle;
	color: #1562a4;
}

.main-block .title {
	color: #fff;
	display: inline-block;
	font-size: 45px;
	margin: 0 auto;
	// border: 1px solid green;
	// font-family: 'BetinaScriptC', arial;
}
.main-block .main-info #weather_desc {
	color: #fff;
	font-size: 35px;

	// font-family: 'BetinaScriptC', arial;
	// text-transform: uppercase;
	font-style: italic;
}

.main-block .main-info #temp {
		color:#fff;
	font-size: 65px;
	font-family: 'BetinaScriptC', arial;
	margin-right: 40px;
}

.detail-info {
	// border: 1px solid green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.active {
	transform: scale(1.4, 1.25) translateX(30px);
}

.hide {
	display: none;
}

table {
	border: none;
	margin: auto;
	font-family: 'Lobster', cursive;
	border-spacing: 2px;
   }

#table1, #table2, #table3, #table4 {
	display: none;
}

th:first-child {
	visibility: hidden;
}
th, tr, td {
	background: rgba(255,255,255, 0.39);
	border: none;
	padding: 8px 15px 8px 15px;
	text-align: center;
	// box-shadow: 3.7px 3.3px 37px rgba(0, 0, 0, 0.75);
}
th {
	text-transform: uppercase;
}

td:first-child {
	margin: 10px;
}