
/*-------------------------
	Simple reset
--------------------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	font: normal 100 % Cambria, Georgia, serif;
	background: url(../images/gradient.png) no-repeat 50% 50%,
	url(../images/main-bg.png) no-repeat 50% 50%;
	background-size: cover;
}
img {
	max-height: 150px;
	max-width: 150px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 99.8vh;
	position: relative;
	box-sizing: border-box;
	// border: 1px solid #fff;
}
.top-block, .bottom-block {
display: flex;
justify-content: space-around;
height: 7%;
width: 100%;
}

.city {
	color: #fff;
	font-size: 2vw;
	cursor: pointer;
}

.city:hover {
	color: #98d0eb;
}

.middle-block {
	display: flex;
	justify-content: flex-start;
	height: 86%;
	width: 100%;
}

.left-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 30%;
}

@media screen and (max-width:638px){
	.left-block {
		width: 40%;
	}
}

.left-block .days {
	height: 12%;
	padding: 10px;
}

.days img, .days .temp-min,.days .temp-max,.days .temp, .days .day-name, .days .date {
	display: inline-block;
	vertical-align: middle;
}

.days img {
	margin: -10px;
}

.days .temp-min{
	vertical-align: bottom;
}

.days .temp-max {
	vertical-align: top;
}

.days .temp-min, .days .temp-max {
	color: #98d0eb;
	font-family: 'Lobster', cursive;
	font-size: 15px;
}

.days .day-name {
	background: url(../images/el-1.png) no-repeat center center;
	background-size: cover;
	color: #4e94cf;
	font-size: 5vh;
	padding: 1vh;
	margin-left: 1.5vw;
	text-transform: capitalize;
}

.days .date span {
	font-size: 6vh;
	font-family: 'BetinaScriptC', arial;
	color:#fff;
	text-decoration: underline;
	cursor: pointer;
}

.days:hover .date {
  transform: scale(1.4, 1.25) translateX(30px);
text-shadow: 0px 0px 6px rgba(255,255,255,0.5);
}
.main-block {
	width: 67%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.main-block .main-info {
	// display: none;
	// display: flex;
	// margin: auto;
	// justify-content: center;
	// border: 1px solid green;
}

.main-block .main-info > div, .main-block .main-info #main-img {
	display: inline-block;
	vertical-align: middle;
	color: #1562a4;
}
.main-block .main-info #main-img {
	margin-left: 100px;
}
.main-block .title {
	color: #fff;
	display: inline-block;
	font-size: 45px;
	margin: 0 auto;
}
.main-block #weather_desc {
	color: #fff;
	font-size: 35px;
	font-style: italic;
	text-align: center;

}

.main-block .main-info #temp {
		color:#fff;
	font-size: 65px;
	font-family: 'Lobster', cursive;
	margin-right: 40px;
	margin-top: -50px;
	margin-left: -30px;
	vertical-align: top;
}

.detail-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.active {
	transform: scale(1.4, 1.25) translateX(30px);
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.hide {
	display: none;
}

table {
	border: none;
	margin: auto;
	font-family: 'Lobster', cursive;
	border-spacing: 2px;
   }

#table1, #table2, #table3, #table4 {
	display: none;
}

th:first-child {
	visibility: hidden;
}
th, tr, td {
	background: rgba(255,255,255, 0.39);
	border: none;
	padding: 5px 15px 5px 15px;
	text-align: center;
}
th {
	text-transform: uppercase;
}

td:first-child {
	margin: 10px;
}